<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NMH Navigator{% endblock %}</title>
    {% assets "scss_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="{{ url_for('home') }}" id="navbar__logo">NMH Navigator</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{{ url_for('home') }}" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('class_view') }}" class="navbar__links">Classes</a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('workjob_view') }}" class="navbar__links">Workjobs</a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('map') }}" class="navbar__links">Campus Map</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p>&copy; NMH Navigator</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}

    <script>

        const mobileMenu = document.getElementById('mobile-menu');
        const navbarMenu = document.querySelector('.navbar__menu');

        mobileMenu.addEventListener('click', () => {
            navbarMenu.classList.toggle('active');
        });
    </script>
</body>
</html>
